.h3 {
  font-family: 'Ilisarniq-Demi', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
}

h1 {
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.hero {
  height: 100vh;
  background: url('../img/hero-img.png') no-repeat bottom right;
  position: relative;
  padding: 0px 110px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #252525;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  max-width: 1220px;
  gap: 32px;
}

.hero-title {
  font-family: 'Ilisarniq-Black', sans-serif;
  font-weight: 900;
  font-size: 52px;
  line-height: 72px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.75) 0%,
    #ffffff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.hero-content p {
  font-family: 'Ilisarniq-Light', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #f0f0f0;
  max-width: 800px;
}

.hero-content span {
  font-family: 'Ilisarniq-Demi', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #f0f0f0;
}

.hero-create-request {
  display: none;
}

.scroll-down {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  height: 52px;
  width: 52px;
  cursor: pointer;
}

/* Our partners section */

.our-partners {
  position: relative;
  padding: 120px 100px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
}

.our-partners-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1220px;
  gap: 80px;
}

.our-partners-content .h3 {
  color: #252525;
}

.our-partners-logo-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-partners-logo-slider-wrapper {
  display: none;
}

.logo-block-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 48px;
  justify-content: center;
  align-items: center;
}

.logo-block-row-item {
  width: 264px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sumatosoft-img {
  height: 32px;
}

.momondo-img {
  height: 30px;
}

.beehiiv-img {
  height: 45px;
}

.doer-img {
  height: 49px;
}

.soax-img {
  height: 36px;
}

.rakuten-img {
  height: 52px;
}

.mpax-img {
  height: 56px;
}

.nextbit-img {
  height: 41px;
}

/* Morcans rules section */

.morcans-rules {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 120px 100px 80px;
  background: linear-gradient(
    to right,
    #252525 0%,
    #252525 50%,
    #ffffff 50%,
    #ffffff 100%
  );
}

.morcans-rules-img {
  position: absolute;
  top: 50px;
  left: 0px;
  height: 914px;
  z-index: 1;
  display: block;
}

.morcans-rules-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  gap: 208px;
  max-width: 1220px;
}

.morcans-rules-advantages {
  display: flex;
  position: relative;
  width: 50%;
}

.advantages-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 472px;
}

.advantages-info-title {
  font-family: 'Ilisarniq-Light', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #cca24b;
  margin-bottom: 24px;
}

.morcans-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 64px;
}

.morcans-info p {
  font-family: 'Ilisarniq-Bold', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
}

.morcans-info span {
  font-family: 'Ilisarniq-Light', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #f0f0f0;
  letter-spacing: 0.5px;
}

.rules-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.rules-info-title {
  font-family: 'Ilisarniq-Bold', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.rules {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.rule-block {
  padding: 16px 0;
  border: 1px solid #343434;
  text-align: center;
  min-width: 146px;
}

.rule-block span {
  font-family: 'Ilisarniq-Demi', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #cca24b;
}

.soax-info {
  display: flex;
  position: relative;
  width: 50%;
}

.soax-ceo-quote {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
}

.soax-logo-img {
  height: 32px;
}

.ceo-quote-text {
  font-family: 'Ilisarniq-Light', sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: #252525;
}

.ceo-block {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.ceo-block img {
  height: 48px;
  border-radius: 50%;
}

.ceo-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.ceo-name {
  font-family: 'Ilisarniq-Demi', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.ceo-position {
  font-family: 'Ilisarniq-Light', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.stepan-signature-img {
  position: absolute;
  bottom: -50%;
  left: 30%;
  height: 212px;
  z-index: 1;
}

/* Our services section */

.our-services {
  position: relative;
  background-color: #252525;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 70px 100px 0px;
}

.our-services-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1220px;
  gap: 60px;
}

.our-services-slider-wrapper {
  position: relative;
  display: block;
}

.our-services-slider-block {
  display: flex !important;
  flex-direction: row;
  gap: 28px;
}

.our-services-slider-block-item {
  display: flex;
  flex-direction: column;
  padding: 50px 32px 32px;
  gap: 48px;
  border: 1px solid #3f3f3f;
  background-color: #252525;
  max-width: 592px;
  position: relative;
}

.slider-block-item-img {
  height: 210px;
  object-fit: contain;
}

.finger-icon {
  position: absolute;
  left: 47%;
  top: 37%;
  height: 48px;
  z-index: 1;
}

.slider-block-item-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 660px;
}

.slider-item-info-title {
  font-family: 'Ilisarniq-Bold', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}

.slider-item-info-text {
  font-family: 'Ilisarniq-Light', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #f0f0f0;
}

.slick-prev {
  left: -35px;
}

.slick-next {
  right: -35px;
}

/* Our advantages section */

.our-advantages {
  position: relative;
  background-color: #252525;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 120px 0px;
}

.our-advantages-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1220px;
  gap: 60px;
}

.our-advantages-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  width: 100%;
}

.advantages-info-item {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
  background-color: #2b2b2b;
}

.advantages-info-item-title {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.advantages-info-item-title span {
  font-family: 'Ilisarniq-Demi', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.advantages-info-item-title img {
  height: 64px;
  width: 64px;
}

.advantages-info-item-text {
  font-family: 'Ilisarniq-Light', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #f0f0f0;
}

@media (max-width: 1439px) and (min-width: 1280px) {
  .h3 {
    font-size: 36px;
    line-height: 44px;
  }

  /* Hero section */

  .hero-title {
    font-size: 46px;
    line-height: 62px;
  }

  /* Our partners section */

  .our-partners-content {
    gap: 60px;
  }

  .sumatosoft-img {
    height: 32px;
  }

  .momondo-img {
    height: 30px;
  }

  .beehiiv-img {
    height: 45px;
  }

  .doer-img {
    height: 49px;
  }

  .soax-img {
    height: 36px;
  }

  .rakuten-img {
    height: 52px;
  }

  .mpax-img {
    height: 56px;
  }

  .nextbit-img {
    height: 41px;
  }

  /* Morcans rules section */

  .morcans-info p {
    font-size: 36px;
    line-height: 44px;
  }

  .rule-block {
    padding: 12px 0;
    min-width: 126px;
  }

  .rule-block span {
    font-size: 14px;
    line-height: 19px;
  }

  .ceo-quote-text {
    font-size: 21px;
    line-height: 34px;
  }

  .stepan-signature-img {
    height: 190px;
    bottom: -40%;
  }

  /* Our services section */

  .our-services-slider-block-item {
    max-width: 552px;
    padding: 50px 26px 32px;
  }

  .slider-block-item-img {
    height: 180px;
  }

  /* Our advantages section */

  .our-advantages {
    padding: 120px 100px;
  }

  .our-advantages-info {
    gap: 48px 38px;
  }

  .advantages-info-item {
    padding: 24px 16px;
  }
}

@media (max-width: 1279px) and (min-width: 1024px) {
  .h3 {
    font-size: 26px;
    line-height: 32px;
  }

  /* Hero section */

  .hero {
    padding: 0 80px;
  }

  .hero-content {
    gap: 60px;
  }

  .hero-title {
    font-size: 34px;
    line-height: 52px;
  }

  .scroll-down {
    bottom: 80px;
  }

  /* Our partners section */

  .our-partners {
    padding: 80px;
  }

  .our-partners-content {
    gap: 48px;
  }

  .logo-block-row {
    gap: 24px;
  }

  .logo-block-row-item {
    width: 200px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sumatosoft-img {
    height: 24px;
  }

  .momondo-img {
    height: 26px;
  }

  .beehiiv-img {
    height: 36px;
  }

  .doer-img {
    height: 36px;
  }

  .soax-img {
    height: 24px;
  }

  .rakuten-img {
    height: 36px;
  }

  .mpax-img {
    height: 36px;
  }

  .nextbit-img {
    height: 24px;
  }

  /* Morcans rules section */

  .morcans-rules {
    padding: 80px;
  }

  .morcans-rules-content {
    gap: 130px;
  }

  .morcans-info {
    margin-bottom: 48px;
  }

  .morcans-info p {
    font-size: 32px;
    line-height: 40px;
  }

  .rule-block {
    padding: 12px 8px;
    min-width: 110px;
  }

  .rule-block span {
    font-size: 14px;
    line-height: 19px;
  }

  .ceo-quote-text {
    font-size: 19px;
    line-height: 25px;
  }

  .stepan-signature-img {
    height: 150px;
    bottom: -50%;
    left: 35%;
  }

  .soax-logo-img {
    height: 26px;
  }

  /* Our services section */

  .our-services {
    padding: 80px 80px 0;
  }

  .our-services-content {
    gap: 48px;
  }

  .our-services-slider-block {
    justify-content: center;
    gap: 18px;
  }

  .our-services-slider-block-item {
    max-width: 420px;
    padding: 35px 16px 16px;
    gap: 32px;
  }

  .slider-item-info-title {
    font-size: 19px;
    line-height: 24px;
  }

  .slider-block-item-img {
    height: 170px;
  }

  /* Our advantages section */

  .our-advantages {
    padding: 80px;
  }

  .our-advantages-content {
    gap: 48px;
  }

  .our-advantages-info {
    gap: 38px 18px;
  }

  .advantages-info-item {
    padding: 24px 16px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .h3 {
    font-size: 22px;
    line-height: 26px;
  }

  /* Hero section */

  .hero {
    padding: 0 32px;
  }

  .hero-content {
    gap: 32px;
  }

  .hero-content p {
    font-size: 16px;
    line-height: 22px;
  }

  .hero-title {
    font-size: 28px;
    line-height: 48px;
  }

  .scroll-down {
    bottom: 60px;
    width: 48px;
    height: 48px;
  }

  /* Our partners section */

  .our-partners {
    padding: 60px 32px;
  }

  .our-partners-content {
    gap: 48px;
  }

  .logo-block-row {
    gap: 16px;
  }

  .logo-block-row-item {
    width: 160px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sumatosoft-img {
    height: 20px;
  }

  .momondo-img {
    height: 20px;
  }

  .beehiiv-img {
    height: 28px;
  }

  .doer-img {
    height: 28px;
  }

  .soax-img {
    height: 20px;
  }

  .rakuten-img {
    height: 28px;
  }

  .mpax-img {
    height: 28px;
  }

  .nextbit-img {
    height: 20px;
  }

  /* Morcans rules section */

  .morcans-rules {
    padding: 60px 32px;
  }

  .morcans-rules-img {
    height: 580px;
  }

  .morcans-rules-content {
    gap: 60px;
  }

  .advantages-info-title {
    font-size: 16px;
    line-height: 19px;
  }

  .morcans-info {
    margin-bottom: 24px;
    gap: 16px;
  }

  .morcans-info p {
    font-size: 24px;
    line-height: 32px;
  }

  .morcans-info span {
    font-size: 14px;
    line-height: 19px;
  }

  .rules-info {
    gap: 16px;
  }

  .rule-block {
    padding: 12px 8px;
    min-width: 80px;
  }

  .rule-block span {
    font-size: 14px;
    line-height: 19px;
  }

  .soax-ceo-quote {
    gap: 24px;
  }

  .soax-logo-img {
    height: 24px;
  }

  .ceo-quote-text {
    font-size: 16px;
    line-height: 19px;
  }

  .stepan-signature-img {
    height: 100px;
    bottom: -50%;
    left: 30%;
  }

  /* Our services section */

  .our-services {
    padding: 60px 32px 0;
  }

  .our-services-content {
    gap: 48px;
  }

  .our-services-slider-block {
    justify-content: center;
    gap: 18px;
  }

  .our-services-slider-block-item {
    max-width: 500px;
    padding: 35px 16px 16px;
    gap: 32px;
  }

  .slider-item-info-title {
    font-size: 19px;
    line-height: 24px;
  }

  .slider-block-item-img {
    height: 170px;
  }

  .slick-prev {
    left: 35px;
    z-index: 1;
  }

  .slick-next {
    right: 35px;
    z-index: 1;
  }

  /* Our advantages section */

  .our-advantages {
    padding: 60px 32px;
  }

  .our-advantages-content {
    gap: 48px;
  }

  .our-advantages-info {
    gap: 28px 16px;
  }

  .advantages-info-item {
    padding: 24px 16px;
  }

  .advantages-info-item-title img {
    height: 48px;
    width: 48px;
  }

  .advantages-info-item-title span {
    font-size: 19px;
    line-height: 24px;
  }

  .advantages-info-item-title {
    gap: 16px;
  }

  .advantages-info-item-text {
    font-size: 14px;
    line-height: 19px;
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .h3 {
    font-size: 18px;
    line-height: 22.32px;
  }

  /* Hero section */

  .hero {
    height: 100svh;
    padding: 0 24px 60px;
    flex-direction: column;
    background: url('../img/hero-img.png') no-repeat bottom left 38%;
    background-color: #252525;
  }

  .hero-content {
    gap: 24px;
  }

  .hero-content p {
    font-size: 14px;
    line-height: 19px;
  }

  .hero-content span {
    font-size: 14px;
    line-height: 19px;
  }

  .hero-title {
    font-size: 20px;
    line-height: 28px;
  }

  .hero-create-request {
    display: block;
    width: 100%;
    height: 42px;
    max-width: 340px;
  }

  .hero-create-request-btn {
    background-color: #cca24b;
    width: 100%;
    height: 100%;
    padding: 10px 24px;
    font-family: 'Ilisarniq-Demi', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .hero-mobile-form-pop-up {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(48px);
    box-shadow: inset 0px 0px 68px rgba(0, 0, 0, 0.05),
      inset 0px 4px 4px rgba(0, 0, 0, 0.05);
    padding: 24px 16px 36px;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    overflow: auto;
  }

  .hero-mobile-form-pop-up.open {
    opacity: 1;
    pointer-events: auto;
  }

  .hero-mobile-menu-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  .hero-mobile-menu-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(20, 20, 22, 0.56);
    padding: 6px 12px;
    border-radius: 12px;
  }

  .pop-up-back-arrow,
  .pop-up-close-icon {
    cursor: pointer;
  }

  .scroll-down {
    bottom: 7%;
    left: 50%;
    position: absolute;
    width: 52px;
    height: 52px;
    transform: translate(-50%, -50%);
  }

  /* Our partners section */

  .our-partners {
    padding: 60px 24px 48px;
  }

  .our-partners-content {
    border-bottom: 1px solid #eeeeee;
    gap: 24px;
    padding-bottom: 48px;
  }

  .our-partners-logo-slider-wrapper {
    position: relative;
    display: block;
    width: 100%;
  }

  .our-partners-logo-block {
    display: none;
  }

  .our-partners-logo-slider {
    width: 100%;
  }

  .logo-block-row {
    display: flex !important;
    gap: 24px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
  }

  .logo-block-row-item {
    height: 85px;
    width: 48%;
    max-width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sumatosoft-img {
    height: 20px;
    margin-top: 5px;
  }

  .momondo-img {
    height: 18px;
  }

  .beehiiv-img {
    height: 28px;
  }

  .doer-img {
    height: 28px;
  }

  .soax-img {
    height: 20px;
  }

  .rakuten-img {
    height: 30px;
    margin-top: 5px;
  }

  .mpax-img {
    height: 26px;
  }

  .nextbit-img {
    height: 24px;
  }

  /* Morcans rules section */

  .morcans-rules {
    padding: 0px;
    background: none;
    overflow: hidden;
  }

  .morcans-rules-img {
    display: none;
  }

  .morcans-rules-content {
    gap: 32px;
    flex-direction: column-reverse;
    background-color: #252525;
  }

  .morcans-rules-advantages {
    width: 100%;
    justify-content: center;
    padding: 0px 24px;
    background-color: #252525;
  }

  .rules {
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  }

  .soax-info {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0px 24px 48px;
    background-color: #ffffff;
  }

  .advantages-info-title {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 16px;
  }

  .morcans-info {
    margin-bottom: 16px;
    gap: 8px;
  }

  .morcans-info p {
    font-size: 19px;
    line-height: 24px;
  }

  .morcans-info span {
    font-size: 14px;
    line-height: 19px;
  }

  .rules-info {
    gap: 16px;
  }

  .rule-block {
    padding: 12px 8px;
    min-width: 80px;
  }

  .rule-block span {
    font-size: 14px;
    line-height: 19px;
  }

  .soax-ceo-quote {
    gap: 24px;
    max-width: 472px;
  }

  .soax-logo-img {
    height: 16px;
  }

  .ceo-quote-text {
    font-size: 16px;
    line-height: 24px;
  }

  .stepan-signature-img {
    position: absolute;
    height: 65px;
    bottom: 20%;
    left: unset;
    right: -5%;
    object-fit: contain;
  }

  /* Our services section */

  .our-services {
    padding: 60px 24px 0;
  }

  .our-services-content {
    gap: 24px;
    max-width: 472px;
  }

  .our-services-slider-block {
    justify-content: center;
    gap: 18px;
    margin-bottom: 20px;
  }

  .our-services-slider-block-item {
    max-width: 95%;
    padding: 26px 16px 16px;
    gap: 24px;
  }

  .slider-item-info-title {
    font-size: 17px;
    line-height: 23px;
  }

  .slider-item-info-text {
    font-size: 14px;
    line-height: 19px;
    min-height: 155px;
  }

  .slider-block-item-img {
    height: 100px;
  }

  .finger-icon {
    top: 28%;
    height: 28px;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .slick-next,
  .slick-prev {
    display: none !important;
  }

  .slick-prev::before,
  .slick-next::before {
    content: '';
  }

  .slick-dots {
    position: relative;
    bottom: unset;
  }

  .slick-dots li {
    margin: 0;
  }

  .slick-dots li button::before {
    opacity: 0;
  }

  .slick-dots li.slick-active button::before {
    opacity: 0;
  }

  .slick-dots li button {
    background-color: #d9d9d9;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    padding: 0;
  }

  .slick-active button {
    background-color: #cca24b !important;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  /* Our advantages section */

  .our-advantages {
    padding: 60px 24px;
  }

  .our-advantages-content {
    gap: 24px;
    max-width: 472px;
  }

  .our-advantages-info {
    gap: 28px 16px;
    grid-template-columns: 1fr;
  }

  .advantages-info-item {
    padding: 24px 16px;
  }

  .advantages-info-item-title img {
    height: 48px;
    width: 48px;
  }

  .advantages-info-item-title span {
    font-size: 19px;
    line-height: 24px;
  }

  .advantages-info-item-title {
    gap: 16px;
  }

  .advantages-info-item-text {
    font-size: 14px;
    line-height: 19px;
  }
}
