* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ilisarniq-Light', sans-serif;
  background-color: #252525;
}

@font-face {
  font-family: 'Ilisarniq-Light';
  src: url('../fonts/Ilisarniq-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ilisarniq-Regular';
  src: url('../fonts/Ilisarniq-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ilisarniq-Demi';
  src: url('../fonts/Ilisarniq-Demi.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ilisarniq-Bold';
  src: url('../fonts/Ilisarniq-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Ilisarniq-Black';
  src: url('../fonts/Ilisarniq-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

.body-no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}

header {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px;
  background-color: transparent;
  box-shadow: none;
  transition: 0.2s;
}

header.fixed {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(48px);
  -webkit-backdrop-filter: blur(48px); /* Safari */
  background-color: rgba(20, 20, 22, 0.32);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1220px;
  margin: 0 auto;
}

.logo-img {
  height: 64px;
}

.pop-up-close-icon {
  cursor: pointer;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 32px;
}

nav li {
  font-family: 'Ilisarniq-Light', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  cursor: pointer;
}

.create-request-btn {
  background-color: #cca24b;
  width: 153px;
  height: 42px;
  padding: 10px 24px;
  font-family: 'Ilisarniq-Demi', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.menu-pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background-color: #252525cc;
  z-index: 9999;
}

.menu-pop-up-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 36%;
  max-width: 520px;
  justify-content: flex-start;
  gap: 32px;
  background-color: #ffffff;
  backdrop-filter: blur(48px);
  position: absolute;
  right: 0%;
  top: 0;
  overflow: auto;
}

.menu-pop-up-close-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  border-bottom: 1px solid #eeeeee;
}

.menu-pop-up-close-block span {
  font-family: 'Ilisarniq-Bold', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #1e1e1e;
}

.desktop-pop-up-close-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.pop-up-info-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 0px 24px;
}

.pop-up-info-block img {
  height: 64px;
  width: 64px;
}

.pop-up-info-block div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  width: 100%;
}

.pop-up-info-block-title {
  font-family: 'Ilisarniq-Bold', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #1e1e1e;
}

.pop-up-info-block-text {
  font-family: 'Ilisarniq-Light', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #4c4c4c;
}

.pop-up-contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 24px;
  width: 100%;
}

.form-input-block {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-label {
  font-family: 'Ilisarniq-Regular', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #252525;
  margin-bottom: 5px;
}

.form-input {
  font-family: 'Ilisarniq-Light', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #1e1e1e;
  border: 1px solid #eeeeee;
  height: 45px;
  width: 100%;
  padding: 10px 12px;
}

.service {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 36px;
  background: #fff url('../img/select-type-form-input-icon.svg') no-repeat right
    12px center;
  background-size: auto 16px;
}

.form-input::placeholder {
  color: #b8b8b8;
}

.contact-form-block {
  padding: 0 24px;
}

.contact-form-button {
  width: 100%;
  height: 42px;
  background-color: #cca24b;
  text-align: center;
  padding: 12px 24px;
  cursor: pointer;
  border: none;
  color: #ffffff;
  font-family: 'Ilisarniq-Demi', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.error {
  font-family: 'Ilisarniq-Regular', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: rgb(237, 68, 68);
  margin-top: 4px;
}

.hamburger-menu {
  display: none;
}

.mobile-menu-pop-up {
  display: none;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #2b2b2b;
  width: 100%;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-out;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1220px;
  padding: 80px 0px 60px;
}

.footer-company-info {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.company-info-item {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-start;
}

.logo {
  font-family: 'Ilisarniq-Black', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28.8px;
  color: #ffffff;
  letter-spacing: 2px;
  text-decoration: none;
}

.company-info-item img {
  width: 24px;
  height: 24px;
}

.company-info-text-block {
  display: flex;
  flex-direction: column;
}

.info-text-block-title {
  font-family: 'Ilisarniq-Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #616161;
}

.info-text-block-text {
  font-family: 'Ilisarniq-Light', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: underline;
}

.footer-page-links {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #353535;
  width: 100%;
  padding: 32px 0;
}

.footer-page-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1220px;
}

.copyright-info {
  font-family: 'Ilisarniq-Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #616161;
}

.links-block {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.links-block a {
  font-family: 'Ilisarniq-Light', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #727272;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1439px) and (min-width: 1280px) {
  .menu-pop-up-content {
    width: 35%;
  }
}

@media (max-width: 1279px) and (min-width: 1024px) {
  .menu-pop-up-content {
    width: 40%;
    gap: 22px;
  }

  .menu-pop-up-close-block span {
    font-size: 17px;
    line-height: 23px;
  }

  .desktop-pop-up-close-icon {
    width: 26px;
    height: 26px;
  }

  .pop-up-info-block-title {
    font-size: 17px;
    line-height: 23px;
  }

  .pop-up-contact-form {
    gap: 12px;
  }

  .form-input {
    font-size: 17px;
    line-height: 21px;
    height: 40px;
    padding: 8px 12px;
  }

  .service-option {
    font-size: 17px;
    line-height: 23px;
  }

  /* Footer section */

  .footer-container {
    padding: 80px 80px 60px;
  }

  .footer-company-info {
    max-width: 640px;
    gap: 16px;
    flex-wrap: wrap;
  }

  .footer-page-links {
    padding: 32px 80px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .logo-img {
    height: 48px;
  }

  .menu-pop-up-content {
    width: 45%;
    gap: 18px;
  }

  .menu-pop-up-close-block span {
    font-size: 17px;
    line-height: 23px;
  }

  .desktop-pop-up-close-icon {
    width: 26px;
    height: 26px;
  }

  .pop-up-info-block img {
    height: 32px;
    width: 32px;
  }

  .pop-up-info-block-title {
    font-size: 17px;
    line-height: 23px;
  }

  .pop-up-contact-form {
    gap: 8px;
  }

  .form-input {
    font-size: 17px;
    line-height: 19px;
    height: 40px;
  }

  .service-option {
    font-size: 17px;
    line-height: 23px;
  }

  /* Footer section */

  .footer-container {
    padding: 60px 32px;
  }

  .footer-company-info {
    max-width: 475px;
    gap: 16px;
    flex-wrap: wrap;
  }

  .footer-page-links {
    padding: 32px;
  }

  .links-block {
    gap: 24px;
  }
}

@media (max-width: 767px) {
  header {
    height: 75px;
    padding: 16px;
    align-items: center;
    display: flex;
  }

  .header-container {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    align-items: center;
  }

  .logo-img {
    height: 40px;
  }

  nav {
    display: none;
  }

  .create-request-btn {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    width: 24px;
    gap: 5px;
    cursor: pointer;
  }

  .hamburger-menu-line {
    width: 100%;
    height: 2px;
    background-color: #f7f7f7;
    border-radius: 3px;
  }

  .mobile-menu-pop-up {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 22, 0.56);
    backdrop-filter: blur(48px);
    box-shadow: inset 0px 0px 68px rgba(0, 0, 0, 0.05),
      inset 0px 4px 4px rgba(0, 0, 0, 0.05);
    padding: 24px 24px 36px;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    overflow: auto;
  }

  .mobile-menu-pop-up.open {
    opacity: 1;
    pointer-events: auto;
  }

  .mobile-menu-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }

  .menu-pop-up-close-block {
    padding: 0;
    padding-bottom: 25px;
    border-bottom: none;
  }

  .pop-up-info-block {
    gap: 16px;
    padding: 20px 0;
    position: relative;
  }
  .pop-up-info-block::before {
    content: '';
    display: block;
    height: 1px;
    width: 100vw;
    background-color: #eeeeee;
    position: absolute;
    top: 0;
    left: -16px;
  }

  .pop-up-info-block img {
    height: 48px;
    width: 48px;
  }

  .pop-up-contact-form {
    gap: 12px;
    padding: 0;
  }

  .mobile-menu-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .pop-up-back-arrow,
  .pop-up-close-icon {
    cursor: pointer;
  }

  .mobile-form .contact-form-button {
    margin-top: 20px;
  }

  .mobile-menu-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .mobile-menu-info span {
    font-family: 'Ilisarniq-Regular', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24.8px;
    color: rgba(227, 234, 241, 1);
    cursor: pointer;
  }

  .mobile-menu-info span:hover {
    color: #cca24b;
  }

  .pop-up-mobile-btn {
    display: block;
  }

  /* Footer */

  .footer-container {
    padding: 60px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .footer-company-info {
    gap: 24px;
    flex-direction: column;
  }

  .info-text-block-title {
    font-size: 14px;
    line-height: 19px;
  }

  .logo {
    font-size: 22px;
    line-height: 25px;
  }

  .info-text-block-text {
    font-size: 12px;
    line-height: 17px;
  }

  .footer-page-links {
    padding: 32px 16px;
  }

  .copyright-info {
    display: none;
  }

  .links-block {
    gap: 12px;
    flex-direction: row;
  }

  .links-block a {
    font-size: 14px;
    line-height: 19px;
  }
}
