<footer class="footer">
  <div class="footer-container">
    <span class="logo">MORCANS</span>
    <div class="footer-company-info">
      <div class="company-info-item">
        <img src="../img/footer-pin-icon.svg" alt="footer-pin-icon" />
        <div class="company-info-text-block">
          <span class="info-text-block-title">Address:</span>
          <a
            href="https://www.google.com/maps/search/?api=1&query=Nikou+Georgiou+6,+Nicosia,+Cyprus,+1095"
            target="_blank"
            class="info-text-block-text"
            style="text-decoration: none"
          >
            Nikou Georgiou 6, Nicosia, Cyprus, 1095
          </a>
        </div>
      </div>
      <div class="company-info-item">
        <img
          src="../img/footer-award-certificate-icon.svg"
          alt="footer-award-certificate-icon"
        />
        <div class="company-info-text-block">
          <span class="info-text-block-title">Reg. Number:</span>
          <span class="info-text-block-text"> ΗΕ 470623 </span>
        </div>
      </div>
      <div class="company-info-item">
        <img src="../img/footer-phone-icon.svg" alt="footer-phone-icon" />
        <div class="company-info-text-block">
          <span class="info-text-block-title">Phone:</span>
          <a href="tel:+35797459699" class="info-text-block-text">
            +357 97 459699
          </a>
        </div>
      </div>
      <div class="company-info-item">
        <img src="../img/footer-at-sign-icon.svg" alt="footer-at-sign-icon" />
        <div class="company-info-text-block">
          <span class="info-text-block-title">Mail:</span>
          <a
            href="mailto:hello@morcans.digital"
            target="_blank"
            class="info-text-block-text"
          >
            hello@morcans.digital
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-page-links">
    <div class="footer-page-links-container">
      <span class="copyright-info">Morcans Digital (c) 2025</span>
      <div class="links-block">
        <a href="policy#privacy-link">
          <span>Privacy Policy</span>
        </a>
        <a href="policy#cookies-link">
          <span>Cookies Policy</span>
        </a>
        <a href="policy#tos-link">
          <span>Terms & Conditions</span>
        </a>
      </div>
    </div>
  </div>
</footer>
