<header>
  <div class="header-container">
    <span class="logo">MORCANS</span>
    <nav>
      <ul>
        <li>Services</li>
        <li>Advantages</li>
        <li>Clients</li>
        <li>Contacts</li>
      </ul>
    </nav>
    <button class="create-request-btn">Create Request</button>
    <div id="hamburger-button" class="hamburger-menu">
      <div class="hamburger-menu-line"></div>
      <div class="hamburger-menu-line"></div>
      <div class="hamburger-menu-line"></div>
    </div>
  </div>
</header>

<div class="mobile-menu-pop-up">
  <div class="mobile-menu-header">
    <img
      src="../img/pop-up-back-arrow.svg"
      alt="Back arrow"
      class="pop-up-back-arrow"
    >
    <img
      src="../img/pop-up-close-icon.svg"
      alt="Close icon"
      class="pop-up-close-icon"
    >
  </div>

  <div class="mobile-menu-content">
    <span>Services</span>
    <span>Advantages</span>
    <span>Clients</span>
    <span>Contacts</span>
  </div>
</div>